.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  z-index: 100;
  transition: all 0.1s;
}

.add-note-window {
  width: 40vw;
  height: 50vh;
  padding: 8rem 4.5rem;
  padding-bottom: 3.5rem;
}

.btn-close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.add-note-btn {
  position: absolute;
  padding: 0 1.2rem;
  top: 1rem;
  right: 6rem;
  width: auto;
  border-radius: 2rem;
}

.add-note-btn i {
  margin-right: 0.8rem;
}

.btn-close-modal:hover,
.add-note-btn:hover {
  border: 2px solid transparent;
  color: #fff;
  background-color: #54adff;
}

.add-note-form-headline {
  color: #54adff;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
}

.note-headline-input {
  margin-bottom: 2.5rem;
}

.note-content-input {
  font-weight: 400;
  font-size: 1.6rem;
  width: 100%;
  height: 46rem;
  margin: 0;
  resize: none;
}

.note-content-input::-webkit-scrollbar {
  width: 0.8rem;
}

.note-content-input::-webkit-scrollbar-track {
  background-color: #fff;
}

.note-content-input::-webkit-scrollbar-thumb {
  background-color: #54adff;
  border-radius: 2rem;
}

.show-note-headline {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 500;
}

.folder-select-wrapper {
  position: absolute;
  padding: 0 1.2rem;
  top: 1rem;
  right: 17rem;
}

.folder-select-wrapper label {
  margin-right: 1rem;
  font-size: 1.5rem;
}

#folder-select {
  height: 4rem;
  width: 10rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  outline: none;
  border: none;
  color: #54adff;
}

.confirm-btns-wrapper {
  display: flex;
  justify-content: space-between;
}

.confirm-delete-window {
  width: 28vw;
}

.btn-confirm {
  margin-right: 1rem;
  background-color: #ff7272;
  color: #fff;
}

.btn-confirm:hover {
  background-color: #ff72721f;
  color: #ff7272;
}

.confirm-msg {
  color: #6a6a6a;
  font-size: 1.8rem;
}
