* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #fafcff;
    color: #a2a2a2;
    /* overflow-x: hidden; */
}

.app-container {
    /* width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: 256px 1056px 128px;
    grid-column-gap: 80px; */
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 15% 55% 5%;
    grid-column-gap: 12.5%;
}