html{
  /* font-size: 62.5%; */
  font-size: 50%;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #fafcff;
  color: #a2a2a2;
  /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #54adff;
  border-radius: 2rem;
}

.app-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  /* grid-template-columns: 15% 0.8fr; */
  grid-template-columns: 15% 1fr;

  grid-column-gap: 12.5%;
}

.welcome-title {
  position: absolute;
  color: #54adff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.btn-general {
  background-color: #f6fbff;
  outline: none;
  color: #54adff;
  width: 4rem;
  cursor: pointer;
  height: 4rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  transition: all 0.1s ease;
}

.btn-general:hover {
  border: 2px solid transparent;
  color: #fff;
  background-color: #54adff;
}

.input-default {
  outline: none;
  background: none;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  border: none;
  font-weight: 500;
  color: #6a6a6a;
}

.modal-default {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 0.9rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: all 0.1s;
}

.mini-btn {
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
}

.show-note-window {
  width: 40vw;
  height: 50vh;
  padding: 8rem 4.5rem;
  padding-bottom: 3.5rem;
}

.mini-modal {
  display: flex;
  align-items: center;
  width: 25vw;
  height: 10vh;
  padding: 1rem 2rem;
  z-index: 1000;
}

.ellipse-btn {
  padding: 0 1.8rem;
  width: auto;
  border-radius: 2rem;
}

.message{
  font-size: 1.6rem;
}
