.main-container {
  padding: 2.5rem 0;
  position: relative;
}

.add-note-input-container {
  text-align: center;
  width: 100%;
}

.add-note-input {
  outline: none;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  max-width: 74.5rem;
  border: 2px solid transparent;
  padding: 2.4rem 3.5rem;
  border-radius: 4rem;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.05);
  font-weight: 500;
  color: #6a6a6a;
  margin-bottom: 4.7rem;
  transition: all 0.2s ease;
}

.add-note-input:focus,
.input-search-note:focus {
  border: 2px solid #54adff;
}

.add-note-input:focus {
  transform: translateY(-3px);
}

.input-search-note {
  outline: none;
  width: 100%;
  /* width: 33.5rem; */
  border: 2px solid transparent;
  padding: 1.1rem 2.1rem;
  padding-right: 5rem;
  border-radius: 4rem;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.04);
  font-weight: 400;
  color: #6a6a6a;
  transition: all 0.2s ease;
}

.search-form {
  display: inline-block;
  position: relative;
  flex-basis: 33%;

}

@media only screen and (max-width: 56.2em) {
  .search-form{
    flex: 1;
  }
}

.search-btn {
  outline: none;
  position: absolute;
  width: 3rem;
  height: 3rem;
  right: 0.8rem;
  top: 0.65rem;
  border: none;
  background: #54adff;
  color: #fff;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.3rem;
}


.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33.1rem, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(33.1rem, 1fr);
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.04);
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.archived {
  background-color: rgb(241, 241, 241);
}

.note:hover {
  transform: translateY(-2px);
}

.note-headline {
  font-weight: 600;
  color: #6a6a6a;
  max-width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-content {
  font-size: 1.6rem;
  position: relative;
}

.note-content p {
  white-space: normal;
  word-wrap: break-word;
  padding: 1rem 0;
  margin-top: 0;
  width: 100%;
  height: 100%;
  line-clamp: 5;
}

.note-group {
  color: #ff7272;
  align-self: flex-start;
  border: 2px solid #ff7272;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.action-btns-container {
  display: flex;
  flex-direction: column;
}

.btns-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  list-style: none;
}

.note-time {
  font-size: 1.5rem;
}

.toolsbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.btns-wrapper {
  display: flex;
  align-items: center;
}

.btns-wrapper button {
  margin-left: 2rem;
}

.btn-pin-note {
  position: absolute;
  right: 0;
  top: 0;
}

.active-pin {
  background: #54adff;
  color: #fff;
}

.pin {
  opacity: 0;
}

.note:hover .pin {
  opacity: 1;
}

.note-description{
  font-size: 1.6rem;
}
